{% extends 'tienda/inicio.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="box-element">
      <!-- los simbolos raros son simbolos unicode que saque de aqui "unicode-table.com"-->
      <a href="{% url 'tienda' %}" class="btn btn-outline-dark"
        >&#x2190;Seguir comprando</a
      >
      <br />
      <br />
      <table class="table">
        <tr>
          <th>
            <h5>Items: <strong>2</strong></h5>
          </th>
          <th>
            <h5>Total:<strong> $2000</strong></h5>
          </th>
          <th>
            <a
              style="float: right; margin: 5px"
              class="btn btn-success"
              href="{% url 'venta' %}"
              >Pagar</a
            >
          </th>
        </tr>
      </table>
    </div>
    <br />
    <div class="box-element">
      <div class="cart-row">
        <div style="flex: 2"></div>
        <div style="flex: 2"><strong>Item</strong></div>
        <div style="flex: 1"><strong>Precio</strong></div>
        <div style="flex: 1"><strong>Cantidad</strong></div>
        <div style="flex: 1"><strong>Total</strong></div>
      </div>

      <div class="cart-row">
        <div style="flex: 2">
          <img class="row-image" src="{% static 'placeholder.png' %}" />
        </div>
        <div style="flex: 2"><p>Producto 1</p></div>
        <div style="flex: 1"><p>$1000</p></div>
        <div style="flex: 1">
          <p class="quantity">2</p>
          <div class="quantity">
            <span class="material-symbols-rounded chg-quantity">
              arrow_drop_up
            </span>
            <span class="material-symbols-rounded chg-quantity">
              arrow_drop_down
            </span>
          </div>
        </div>
        <div style="flex: 1"><p>$2000</p></div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
