{% extends 'tienda/inicio.html' %} {% load static %} {% block content %}
<div class="row" style="padding: 2%">
  {% for producto in productos %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img
        class="card-img-top"
        src="{{producto.imagen.url}}"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">{{producto.nombre}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="#" class="btn btn-sm btn-outline-secondary">Ver</a>
            <button
              data-producto="{{producto.id}}"
              data-accion="add"
              class="btn btn-sm btn-outline-secondary actualizar-carrito"
            >
              Agregar
            </button>
          </div>
          <small class="text-muted">${{producto.precio|floatformat:0}}</small>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content%}
