{% extends 'tienda/inicio.html' %} {% load static %} {% block content %}

<div class="row">
  <div class="col-lg-6">
    <div class="box-element" id="form-wrapper">
      <form id="form">
        {% csrf_token %}
        <div id="user-info">
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="name"
              placeholder="Nombre"
            />
          </div>
          <div class="form-field">
            <input
              required
              class="form-control"
              type="email"
              name="email"
              placeholder="Correo electronico"
            />
          </div>
          <hr />
        </div>

        <div id="shipping-info">
          <p>Informacion de envío:</p>
          <hr />
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="address"
              placeholder="Direccion"
            />
          </div>
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="city"
              placeholder="Ciudad"
            />
          </div>
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="state"
              placeholder="Region"
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              type="text"
              name="zipcode"
              placeholder="Codigo postal (opcional)"
            />
          </div>
        </div>

        <hr />
        <input
          id="form-button"
          class="btn btn-success btn-block"
          type="submit"
          value="Continue"
        />
      </form>
    </div>

    <br />
    <div class="box-element hidden" id="payment-info">
      <small>Metodos de pago</small>
      <!-- <button id="realizar-pago">Realizar pago</button> -->
      <div id="paypal-button-container"></div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'carrito' %}"
        >&#x2190; Volver al carrito de comrpas</a
      >
      <hr />
      <h3>Compra</h3>
      <hr />
      {% for item in items %}
      <div class="cart-row">
        <div style="flex: 2">
          <img class="row-image" src="{{item.producto.imagen.url}}" />
        </div>
        <div style="flex: 2"><p>{{item.producto.nombre}}1</p></div>
        <div style="flex: 1">
          <p>${{item.producto.precio|floatformat:0}}</p>
        </div>
        <div style="flex: 1"><p>x{{item.cantidad}}</p></div>
      </div>
      {% endfor %}
      <h5>Items: {{pedido.get_carrito_items}}</h5>
      <h5>Total: ${{pedido.get_carrito_total|floatformat:0}}</h5>
    </div>
  </div>
</div>

<!-- Implementacion Paypal -->



<div id="smart-button-container">
  <div style="text-align: center;">
    <div id="paypal-button-container"></div>
  </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=ARye2xyGwXWXMRJdcH3rp8IoAw8FNsK73ckgduznXX7Xc5oSwYWLgZbP2Dbn5Ff2_FkQ3a73YfNuzy-d&currency=USD"></script>
<script>
  var total = "{{pedido.get_carrito_total|floatformat:0}}";
  function initPayPalButton() {
    paypal.Buttons({
      style: {
      shape: 'pill',
      color: 'blue',
      layout: 'horizontal',
      label: 'paypal',
      
    },

    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{"amount":{"currency_code":"USD","value":total}}]
      });
    },

    onApprove: function(data, actions) {
      return actions.order.capture().then(function(orderData) {
        
        // Full available details
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

        // Show a success message within this page, e.g.
        const element = document.getElementById('paypal-button-container');
        element.innerHTML = '';
        element.innerHTML = '<h3>¡Gracias por el pago!</h3>';
        enviarDatosFormulario();

        // Or go to another URL:  actions.redirect('thank_you.html');

        
      });
    },

    onError: function(err) {
      console.log(err);
    }
  }).render('#paypal-button-container');
}
initPayPalButton();
</script>

<!-- Fin implementacion Paypal-->

<script type="text/javascript">
  var user = "{{user}}"; // user es una variable que se pasa desde el backend
  var total = "{{pedido.get_carrito_total|floatformat:0}}"; // total es una variable que se pasa desde el backend

  if (user != "AnonymousUser") {
    // Si el usuario esta logueado
    document.getElementById("user-info").innerHTML = ""; // Se borra el formulario de informacion de usuario
  }

  const form = document.getElementById("form"); // Se obtiene el formulario
  const formButton = document.getElementById("form-button"); // Se obtiene el boton del formulario
  const formWrapper = document.getElementById("form-wrapper"); // Se obtiene el contenedor del formulario
  const paymentInfo = document.getElementById("payment-info"); // Se obtiene el contenedor de informacion de pago

  form.addEventListener("submit", (e) => {
    // Se agrega un evento al formulario
    e.preventDefault(); // Se evita que el formulario se envie
    formButton.disabled = true; // Se deshabilita el boton del formulario
    formButton.value = "Procesando..."; // Se cambia el texto del boton del formulario
    formWrapper.classList.add("hidden"); // Se oculta el contenedor del formulario
    paymentInfo.classList.remove("hidden"); // Se muestra el contenedor de informacion de pago
  });
  /*
  document // Se agrega un evento al boton de realizar pago
    .getElementById("realizar-pago") // Se obtiene el boton de realizar pago
    .addEventListener("click", function (e) {
      // Se agrega un evento al boton de realizar pago
      enviarDatosFormulario(); // Se envian los datos del formulario
    });
    */

  function enviarDatosFormulario() {
    // Funcion para enviar los datos del formulario
    console.log("enviando datos"); // Se imprime en consola

    var dataFormUsuaio = {
      // Se crea un objeto con los datos del formulario de usuario
      name: null, // Nombre
      email: null, // Correo electronico
      total: total, // Total de la compra
    };

    var dataFormEnvio = {
      // Se crea un objeto con los datos del formulario de envio
      address: form.address.value, // Direccion
      city: form.city.value, // Ciudad
      state: form.state.value, // Region
      zipcode: form.zipcode.value, // Codigo postal
    };

    if (user == "AnonymousUser") {
      // Si el usuario no esta logueado
      dataFormUsuaio.name = form.name.value; // Se obtiene el nombre del formulario
      dataFormUsuaio.email = form.email.value; // Se obtiene el correo electronico del formulario
    }

    var url = '{% url "procesar_orden" %}'; // Se obtiene la url de procesar orden
    fetch(url, {
      // Se hace una peticion fetch
      method: "POST", // Se envia por metodo POST
      headers: {
        "Content-Type": "application/json", // Se envia el tipo de contenido
        "X-CSRFToken": "{{ csrf_token }}", // Se envia el token csrf
      },
      body: JSON.stringify({
        // Se envia el cuerpo del mensaje
        form: dataFormUsuaio, // Se envian los datos del formulario de usuario
        formEnvio: dataFormEnvio, // Se envian los datos del formulario de envio
        total: total, // Se envia el total
      }),
    })
      .then((response) => {
        // Se obtiene la respuesta
        return response.json(); // Se convierte la respuesta a json
      })
      .then((data) => {
        alert("Orden procesada"); // Se muestra un mensaje de alerta
        carrito = {}; // Se vacia el carrito
        document.cookie =
          "carrito=" + JSON.stringify(carrito) + ";domain=;path=/"; // Se actualiza el carrito en el navegador
        window.location.href = "{% url 'inicio' %}"; // Se redirecciona a la pagina de inicio
      });
  }
</script>
<script type="text/javascript">
  // espera 0.5 segundos para ejecutar la funcion
  setTimeout(function () {
    csrftoken = form.getElementsByTagName("input")[0].value; // Se obtiene el token csrf
    console.log(csrftoken);
    console.log(form.getElementsByTagName("input")[0].value);
  }, 500);
</script>

{% endblock content%}
